<h5> Muhammad Faisal Setiawan </h5>
<h5> 2009106060 </h5>

<h2> Masukan library yang di perlukan pada posstest kali ini, berikut : </h2>

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

<h3> Melihat data csv yang akan digunakan </h3>

In [5]:
df = pd.read_csv('cars.csv')
df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

<h3> melihat tipe data serta isi record </h3>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

In [7]:
df.isna().sum()

manufacturer_name     0
model_name            0
transmission          0
color                 0
odometer_value        0
year_produced         0
engine_fuel           0
engine_has_gas        0
engine_type           0
engine_capacity      10
body_type             0
has_warranty          0
state                 0
drivetrain            0
price_usd             0
is_exchangeable       0
location_region       0
number_of_photos      0
up_counter            0
feature_0             0
feature_1             0
feature_2             0
feature_3             0
feature_4             0
feature_5             0
feature_6             0
feature_7             0
feature_8             0
feature_9             0
duration_listed       0
dtype: int64

In [8]:
df2 = pd.read_csv('CarRentalData.csv')
df2.head()

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year
0,ELECTRIC,5.00,13,12,Seattle,US,47.449107,-122.308841,WA,12847615,135,Tesla,Model X,suv,2019
1,ELECTRIC,5.00,2,1,Tijeras,US,35.111060,-106.276551,NM,15621242,190,Tesla,Model X,suv,2018
2,HYBRID,4.92,28,24,Albuquerque,US,35.127163,-106.566681,NM,10199256,35,Toyota,Prius,car,2012
3,GASOLINE,5.00,21,20,Albuquerque,US,35.149726,-106.711425,NM,9365496,75,Ford,Mustang,car,2018
4,GASOLINE,5.00,3,1,Albuquerque,US,35.208659,-106.601008,NM,3553565,47,Chrysler,Sebring,car,2010

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5851 entries, 0 to 5850
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fuelType            5776 non-null   object
 1   rating              5350 non-null   float64
 2   renterTripsTaken    5851 non-null   int64
 3   reviewCount         5851 non-null   int64
 4   location.city       5851 non-null   object
 5   location.country    5851 non-null   object
 6   location.latitude   5851 non-null   float64
 7   location.longitude  5851 non-null   float64
 8   location.state      5851 non-null   object
 9   owner.id            5851 non-null   int64
 10  rate.daily          5851 non-null   int64
 11  vehicle.make        5851 non-null   object
 12  vehicle.model       5851 non-null   object
 13  vehicle.type        5851 non-null   object
 14  vehicle.year        5851 non-null   int64
dtypes: float64(3), int64(5), object(7)
memory usage: 685.8+ KB

In [10]:
df2.isna().sum()

fuelType               75
rating                501
renterTripsTaken        0
reviewCount             0
location.city           0
location.country        0
location.latitude       0
location.longitude      0
location.state          0
owner.id                0
rate.daily              0
vehicle.make            0
vehicle.model           0
vehicle.type            0
vehicle.year            0
dtype: int64

In [11]:
print(f'panjang dataset {len(df)} baris')

panjang dataset 38531 baris

<h3> Data Cleaning </h3>

In [12]:
dataset_mn = df.copy()
dataset_md = df2.copy()
dataset_ms = df.copy()

In [13]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

<h3> MODUS </h3>

In [14]:
dataset_mn['engine_capacity'] = imputer_mean.fit_transform(dataset_mn[['engine_capacity']])

dataset_mn.isna().sum()

manufacturer_name    0
model_name           0
transmission         0
color                0
odometer_value       0
year_produced        0
engine_fuel          0
engine_has_gas       0
engine_type          0
engine_capacity      0
body_type            0
has_warranty         0
state                0
drivetrain           0
price_usd            0
is_exchangeable      0
location_region      0
number_of_photos     0
up_counter           0
feature_0            0
feature_1            0
feature_2            0
feature_3            0
feature_4            0
feature_5            0
feature_6            0
feature_7            0
feature_8            0
feature_9            0
duration_listed      0
dtype: int64

<h3> median </h3>

In [15]:
dataset_md['rating'] = imputer_median.fit_transform(dataset_md[['rating']])

dataset_md.isna().sum()

fuelType              75
rating                 0
renterTripsTaken       0
reviewCount            0
location.city          0
location.country       0
location.latitude      0
location.longitude     0
location.state         0
owner.id               0
rate.daily             0
vehicle.make           0
vehicle.model          0
vehicle.type           0
vehicle.year           0
dtype: int64

In [16]:
dataset_md.dropna(inplace=True)
dataset_md.isna().sum()

fuelType              0
rating                0
renterTripsTaken      0
reviewCount           0
location.city         0
location.country      0
location.latitude     0
location.longitude    0
location.state        0
owner.id              0
rate.daily            0
vehicle.make          0
vehicle.model         0
vehicle.type          0
vehicle.year          0
dtype: int64

In [17]:
len(dataset_mn)

38531

<h3> data duplikat </h3>

In [18]:
dataset_duplicate = df.copy()
dataset_duplicate.duplicated().sum()

40

In [19]:
dataset_duplicate.drop_duplicates(inplace=True)
dataset_duplicate.duplicated().sum()

0

<h3> K-Nearest Neighbour (KNN) </h3>

In [22]:
dataset_md.head(7)

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year
0,ELECTRIC,5.00,13,12,Seattle,US,47.449107,-122.308841,WA,12847615,135,Tesla,Model X,suv,2019
1,ELECTRIC,5.00,2,1,Tijeras,US,35.111060,-106.276551,NM,15621242,190,Tesla,Model X,suv,2018
2,HYBRID,4.92,28,24,Albuquerque,US,35.127163,-106.566681,NM,10199256,35,Toyota,Prius,car,2012
3,GASOLINE,5.00,21,20,Albuquerque,US,35.149726,-106.711425,NM,9365496,75,Ford,Mustang,car,2018
4,GASOLINE,5.00,3,1,Albuquerque,US,35.208659,-106.601008,NM,3553565,47,Chrysler,Sebring,car,2010
5,GASOLINE,5.00,13,12,Albuquerque,US,35.068834,-106.576111,NM,7815747,58,Mercedes-Benz,GL-Class,suv,2012
6,GASOLINE,4.42,13,12,Albuquerque,US,35.045552,-106.633815,NM,3112016,42,GMC,Yukon XL,suv,2005

In [23]:
dataset_md.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5776 entries, 0 to 5850
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fuelType            5776 non-null   object
 1   rating              5776 non-null   float64
 2   renterTripsTaken    5776 non-null   int64
 3   reviewCount         5776 non-null   int64
 4   location.city       5776 non-null   object
 5   location.country    5776 non-null   object
 6   location.latitude   5776 non-null   float64
 7   location.longitude  5776 non-null   float64
 8   location.state      5776 non-null   object
 9   owner.id            5776 non-null   int64
 10  rate.daily          5776 non-null   int64
 11  vehicle.make        5776 non-null   object
 12  vehicle.model       5776 non-null   object
 13  vehicle.type        5776 non-null   object
 14  vehicle.year        5776 non-null   int64
dtypes: float64(3), int64(5), object(7)
memory usage: 722.0+ KB

In [24]:
x = dataset_md[['rating','renterTripsTaken','reviewCount','location.latitude']]
y = dataset_md['location.state']

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=.2)

In [26]:
classifier = KNeighborsClassifier(n_neighbors = 7)

In [27]:
classifier.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [28]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [29]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['HI' 'MO' 'CA' ... 'TX' 'CA' 'FL']
Class: 5651    HI
3277    VA
4402    CA
5467    FL
2685    FL
        ..
2128    NV
1438    NJ
910     FL
3120    CA
4683    FL
Name: location.state, Length: 1156, dtype: object
akurasi: 0.5242214532871973

<h3> Naïve Bayes </h3>

In [30]:
x = dataset_md[['rating','renterTripsTaken','reviewCount','location.latitude']]
y = dataset_md['location.state']

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1, shuffle=False, stratify=None)

In [32]:
classifier = GaussianNB()

In [33]:
classifier.fit(x_train,y_train)

GaussianNB()

In [34]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [36]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['HI']
Class: 5850    HI
Name: location.state, dtype: object
akurasi: 1.0

In [37]:
classifier.score(x_test,y_test)

1.0